@import url(hhttps://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@400;700&display=swap);

* {
    font-family: "EB Garamond", source-han-serif-sc, "source han serif sc",
        "source han serif cn", "source han serif tc", "source han serif tw",
        "source han serif", "simsun", songti sc, microsoft yahei, serif;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
}

#app {
    margin-top: 17px;
    display: inline-block;
    width: 100%;
    max-width: 961px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    color: #333;
}

.image {
    cursor: pointer;
    width: 500px;
    height: 180px;
    left: calc(50% - 230px);
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: 0.3s;
}

.image:hover {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.text {
    text-align: end;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.placeholder {
    left: calc(50% - 230px);
    text-align: center;
    height: 180px;
    line-height: 180px;
    padding: 0;
    margin: 0;
    width: 500px;
}

.social {
    display: inline-flex;
    width: 250px;
    margin: 0 0 7px 0;
}

.social img {
    width: 30px;
    height: 30px;
    display: inline;
    margin: 5px;
    margin-right: 10px;
}

.social input {
    display: inline;
    width: 100%;
}

.el-row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% + 127px);
}

.counter {
    text-align: center;
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}

.help {
    text-align: center;
    margin: 15px 0;
    color: #999;
    font-size: 14px;
}

.copyright {
    text-align: center;
    margin: 15px 0;
    color: #999;
    font-size: 14px;
}

.copyright a {
    text-decoration: none;
    font-weight: bold;
    color: unset;
    transition: opacity .2s;
}

.copyright a:hover {
    opacity: .5;
}

.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    width: 100%;
}

#imageLink {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: fit-content;
    max-width: 85%;
    display: block;
}

.fade-in {
    animation: fadeIn 0.3s;
}

.fade-out {
    animation: fadeOut 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}