@import url('https://fonts.loli.net/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "EB Garamond", source-han-serif-sc, "source han serif sc",
        "source han serif cn", "source han serif tc", "source han serif tw",
        "source han serif", "simsun", songti sc, microsoft yahei, serif;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

#app {
    margin-top: 50px;
    text-align: center;
    color: #333;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.image {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: 0.3s;
}

.image:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.text {
    text-align: end;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.placeholder {
    text-align: center;
    height: 180px;
    line-height: 180px;
    padding: 0;
    margin: 0;
}

.social {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.el-row {
    margin-bottom: 10px;
}

.counter,
.help,
.copyright {
    font-size: 14px;
    color: #999;
    margin: 15px 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    transition: opacity 0.2s;
}

a:hover {
    opacity: 0.5;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
